APP_HOST=0.0.0.0
APP_PORT=3000
RUST_LOG=info 

SUPABASE_URL=http://host.docker.internal:54321
SUPABASE_URL_TEST=http://127.0.0.1:54321
SUPABASE_JWT_SECRET="[JWT_SECRET]"
SUPABASE_ANON_KEY="[ANON_KEY]"
SUPABASE_SERVICE_ROLE_KEY="[SERVICE_ROLE_KEY]"

MAILPIT_URL=http://127.0.0.1:54324

TLS_CERT_PATH=certs/dev/localhost+2.pem
TLS_KEY_PATH=certs/dev/localhost+2-key.pem